<html class="uk-notouch">
	<head>
		<link rel="stylesheet" type="text/css" href="static/css/uikit.gradient.min.css">
		<script type="text/javascript" src="static/js/jquery.js"></script>
		<script type="text/javascript" src="static/js/uikit.js"></script>
	</head>
	<body class="uk-grid ">
		<div class="uk-width-1-1 uk-vertical-align" style="height:20%">
			<div class="uk-container-center" style="width: 300px; height: 300px">
				<div class="uk-panel-box">
					<div class="uk-panel-title uk-grid">
						<img class="uk-width-1-2" src="http://www.getuikit.net/docs/images/apple-touch-icon.png" style="width:30%">
						<div class="uk-text-center uk-width-1-2" ><h1 text-shadow="5px 5px 5px #111">title</h1></div>
					</div>
					<form class="uk-panel uk-form" action="/s" method="post">
						<div class="uk-form-row">
							<input class="uk-width-1-1 uk-form-large" type="text" placeholder="Username" name="username" required>
						</div>
						<div class="uk-form-row">
							<input class="uk-width-1-1 uk-form-large" type="password" placeholder="Password" name="password" required>
						</div>
						<div class="uk-form-row">
							<button class="uk-width-1-1 uk-button uk-button-large uk-button-primary" type="submit">
							Login
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>